.home-page {
    font-family: 'Arial, sans-serif';
    color: #333;
    text-align: left;      /* Aligns text to the left */
    font-style: italic;    /* Makes the text italic */
    font-weight: bold;     /* Makes the text bold */
    
}

/* Hero Section */
.hero-section {
    background: url('C:\Users\LENOVO-V15\Desktop\IrishCafe\public\images\background.jpg') no-repeat center center/cover; /* Ensure the path is correct */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    
}

.hero-text {
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background to make text readable */
    padding: 20px;
    border-radius: 10px;
}

.hero-button {
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #a0522d;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #f4f4f4;
    background-color: #b68873;
}

.feature {
    text-align: center;
    width: 30%;
    
}

.feature img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature h2 {
    margin-top: 20px;
    font-size: 24px;
}

/* About Us Section */
.about-us {
    padding: 40px;
    background-color: white;
    text-align: center;
}

.about-us h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
}
